<DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="mystyle.css">  <head>
    <title>Inscri&ccedil;&atilde; PPGI</title>
  </head>
  <body>
    <div id="Form">
      <form action="http://google.com" >
        <BUTTON class="inputBox" type="submit">Doutorado</BUTTON> 
      </form>
      <form action="http://google.com">
        <BUTTON class="inputBox" type="submit" > Mestrado</BUTTON> 
      </form>


    </div>
  </body>
</html>
