
<DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="mystyle.css">  <head>
    <title>Inscri&ccedil;&atilde; PPGI</title>
  </head>
  <body >
  	<div id="form" >
	 	<h1>Admin Login</h1>
		<form action="/verificado" method="POST">
			<p>Nome:  <input class="inputBox" name="user"></p> 
			<p>Senha: <input class="inputBox" name="senha"></p>
	  		<div style="float:right;">
	    		<button type="submit" id="SubmitBtn" formaction="" >Enviar</button>
	  		</div>
    </form>
	</div>
  </body>
</html>
