<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
<head>
	<title>Bem Vindo</title>
</head>
<body>
<div id="Form">
<h1>Selecione Quais Inscri&ccedil;&otilde;es Visualizar</h1>
      <form action="/insDoutorado" >
        <BUTTON class="inputBox" >Doutorado</BUTTON> 
      </form>
      <form action="/insMest">
        <BUTTON class="inputBox"  > Mestrado</BUTTON> 
      </form>
      <form action="/form2">
        <BUTTON class="inputBox" > Voltar</BUTTON> 
      </form>
     

</div>


</body>
</html>